apiVersion: v1
kind: Service
metadata:
  name: prometheus-console
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/component: server
  ports:
  - port: 9090
    targetPort: 9090
